/* HEADER CONTAINER */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f9f9f9;
  padding: 20px 60px;
}

/* NAVIGATION LINKS */
.nav-center {
  display: flex;
  gap: 40px;
  align-items: center;
  margin-right: 120px; /* of 200px als je veel ruimte wil */
}

/* LOGO */
.logo {
  height: auto;
  max-height: 80px;
  object-fit: contain;
}

/* NAVIGATIE KNOP STIJLEN */
.nav-btn {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 16px;
  border-radius: 6px;
  position: relative;
  transition: all 0.3s ease;
}

.nav-btn.active {
  background-color: #C8102E;
  color: white;
  border-radius: 20px;
}

.nav-btn:not(.active):hover {
  color: #C8102E;
}

.nav-btn:not(.active)::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: #C8102E;
  transition: width 0.3s ease;
}

.nav-btn:not(.active):hover::after {
  width: 100%;
}