@media (max-width: 768px) {
  .nav {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }

  .container {
    padding: 20px 10px;
  }

  .profile-grid {
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }

  .field {
    width: 100%;
  }

  .checkbox-label {
    width: 100%;
  }

  .profile-row {
    flex-direction: column;
    gap: 20px;
  }

  .like-button {
    top: 0;
    right: 0;
    font-size: 36px;
  }

  .logoutIcon {
    font-size: 20px;
  }
}